*
{
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', sans-serif;
}
body
{
    animation: infinite cubic-bezier(1, 0.01, 0.35, 0.92) background1 240s;
    min-height: 100vh;
    min-width: 100%;
}
.nav
{
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    height: 10vh;
    width: 100%;
    background: linear-gradient(rgb(152, 152, 152), silver);
    border-bottom-left-radius: 2vh;
    border-bottom-right-radius: 2vh;
}
.nav-item a i
{ 
    transition: cubic-bezier(0.175, 0.885, 0.32, 0.95) .5s;
    text-decoration: none;
}
.nav-item a i
{
    animation: movein normal cubic-bezier(0.885, 0.25, 0.15, 1) 1s;
    color: rgb(124, 124, 124);
}
.nav-item a:hover i
{ 
    transition: cubic-bezier(0.175, 0.7, 0.32, 0.85) .25s;
    font-size: 7.5vh;
    color:  rgb(23, 23, 23);
}
i
{
    font-size: 7vh;
}
@keyframes movein 
{
    0% {transform: translateY(-9vh); color: rgb(0, 0, 0);}
    100% {transform: translateY(0vh);}
}
.site-info
{
    font-size: 3vh;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 5vh;
}
.search-bars
{
    min-height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#googlesearch
{
    font-size: 1.5vh;
    width: 50vh;
    height: 5vh;
    border-radius: 1vh;
    border-style: none;
}
h1
{
    transition: cubic-bezier(0.075, 0.82, 0.165, 1) 1s;
    animation: tiltout normal cubic-bezier(0.075, 0.82, 0.165, 1) 2s;
    animation: movein normal cubic-bezier(0.075, 0.82, 0.165, 1) 1s;
    animation: rotate infinite cubic-bezier(0.075, 0.82, 0.165, 1) 10s;
    font-size: 10vh;
    padding: 4vh;
}
h1:hover
{
    transition: cubic-bezier(0.075, 0.82, 0.165, 1) 1s;
    animation: textcolor infinite linear 2s;
    animation: tilt normal cubic-bezier(0.075, 0.82, 0.165, 1) 2s;
    font-size: 12vh;
}
@keyframes rotate
{
    0% {rotate: 1deg;}
    25% {rotate: -1deg;}
    44% {rotate: 1deg;}
    56% {rotate: 1.5deg;}
    76% {rotate: 1deg;}
    85% {rotate: -2.5deg;}
    95% {rotate: 0deg;}
    100% {rotate: 1deg;}
}
@keyframes background1
{
    0% {background-color: rgb(108, 108, 108);}
    15% {background-color: cadetblue;}
    30% {background-color: rgb(24, 203, 116);}
    45% {background-color: rgb(98, 10, 136);}
    60% {background-color: rgb(0, 60, 255);}
    75% {background-color: rgb(179, 227, 7);}
    85% {background-color: rgb(227, 36, 7);}
    100% {background-color: rgb(108, 108, 108);}
}
.credits
{
    font-size: 1vh;
    min-height: 5vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
@keyframes textcolor
{
    0% {color: rgb(255, 238, 0);}
    20% {color: rgb(255, 0, 0);}
    40% {color: rgb(0, 34, 255);}
    60% {color: rgb(0, 255, 51);}
    80% {color: rgb(255, 0, 238);}
    100% {color: rgb(255, 238, 0);}
}
@keyframes tilt
{
    0% {rotate: 0deg;}
    100% {rotate: 9deg;}
}
@keyframes tiltout
{
    0% {rotate: 9deg;}
    100% {rotate: 0deg;}
}
@keyframes fonts {
    0% {font-size: 0vh;}
    100% {font-size: 3vh;}
}
@keyframes fontsout {
    0% {font-size: 3vh;}
    100% {font-size: 0vh;}
}